.wrapper {
    margin-top: 40px;
}
.div_butt {
    margin: 10px 0;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 24px;
}
.btn-xs {
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 3px;
}