body {
    font-weight: 600;
}

.nav li {
    padding: 2rem 1.5rem;
}
.nav li a {
    color: #000;
    padding: 8px 0;
}
.nav li:nth-child(4),
.nav li:nth-child(5),
.nav li:nth-child(6),
.nav li:nth-child(7) {
    background: #ccc;
}
.nav li:nth-child(1) a {
    border-bottom: 1px solid red;
}
.nav li:nth-child(7) a {
    border: 1px solid #7c7c7c;
    border-radius: 100px;
    padding: 8px 10px;
}