* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    background: rgb(230, 230, 230);
    padding: 160px 292px;
    margin-bottom: 20px;

    .cicle_btn {
        padding: 30px 45px;
        font-size: 50px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 50%;
        background: #009688;
        line-height: 80px;
        text-align: center;
        color: #fff;
        box-shadow: 0 10px 20px rgb(109, 109, 109);
    }
    .cicle_btn:nth-child(2) {
        margin-left: 292px;
        box-shadow: 0 20px 20px rgb(109, 109, 109);
    }
}
.wrapper:nth-child(2) {
    
    .buttons {
        display: flex;
        width: 100%;
        
        .btn {
            margin: 0 80px;
        }
        .btn1 {
            width: 100%;
            text-align: center;

            a {
                margin: 80px 0;
                display: block;
                border-radius: 4px;
                text-align: center;
                padding: 14px 20px;
            }
            a:nth-child(1) {
                color: #7A7A7A;
            }
            a:nth-child(2) {
                color: #009688;
            }
            a:nth-child(3) {
                color: #009688;
            }
            a:nth-child(4) {
                color: #8f8f8f;
            }
        }
        .btn2 {
            width: 100%;
            text-align: center;

            a {
                margin: 80px 0;
                display: block;
                border-radius: 4px;
                text-align: center;
                padding: 14px 20px;
            }
            a:nth-child(1) {
                color: #7A7A7A;
            }
            a:nth-child(2) {
                background: #009688;
                color: #fff;
            }
            a:nth-child(3) {
                background: #39A298;
                color: #fff;
                box-shadow: 0 10px 10px rgb(138, 138, 138);
            }
            a:nth-child(4) {
                color: #8f8f8f;
                background: #C5C5C5;
            }
        }














        // .title {
        //     margin: 40px 0;
            
        //     a {
        //         color: #7A7A7A;
        //         border-radius: 4px;
        //         width: 130px;
        //         text-align: center;
        //         display: inline-block;
        //         padding: 14px 20px;
        //     }
        //     a:nth-child(2) {
        //         float: right;
        //     }
        // }
        // .normal {
            
        //     a {
        //         color: #009688;
        //     }
        //     a:nth-child(2) {
        //         background: #009688;
        //         color: #fff;
        //     }
        // }
        // .pressed {
            
        //     a {
        //         color: #009688;
        //     }
        //     a:nth-child(2) {
        //         background: #39A298;
        //         color: #fff;
        //         box-shadow: 0 10px 10px rgb(138, 138, 138);
        //     }
        // }
        // .disabled {
        //     color: #8f8f8f;

        //     a:nth-child(2) {
        //         color: #8f8f8f;
        //         background: #C5C5C5;
        //     }
        // }
    }
}
